{% extends 'principal.html' %}



{% block content %}

<div class="column" style="display: flex; gap: 10px; padding: 20px; width: 100%;
     justify-content: center;">
    <div class="col-md-8" style="width: 100%;">
        <div class="card" style="width: 97%;">
            <div class="d-flex justify-content-between card-header bg-primary text-white" >
                <h5 class="mb-0">
                    <i class="fas fa-user"></i> Informações do evento
                </h5>
                <a href="/list_event/" class="btn" 
                style="background: #1e3a5f; color: #fff;">
                    lista
                </a>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Caso número:</strong></div>
                    <div class="col-sm-9">{{ evento.caso.numero_caso }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Titulo:</strong></div>
                    <div class="col-sm-9">{{ evento.titulo }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Tipo de evento:</strong></div>
                    <div class="col-sm-9">{{ evento.get_tipo_evento_display }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Importância:</strong></div>
                    <div class="col-sm-9">{{ evento.get_importancia_display}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Localização:</strong></div>
                    <div class="col-sm-9">{{ evento.localizacao|default:"Sem Informações"}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data/Horas:</strong></div>
                    <div class="col-sm-9">{{ evento.data_hora }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Investigador responsável:</strong></div>
                    <div class="col-sm-9">{{ evento.investigador_responsavel.get_full_name|default:"Sem Informações"}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Latitude:</strong></div>
                    <div class="col-sm-9">{{ evento.coordenadas_lat|default:"Sem Informações"}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Longitude:</strong></div>
                    <div class="col-sm-9">{{ evento.coordenadas_lng|default:"Sem Informações"}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Está Confirmado?:</strong></div>
                    <div class="col-sm-9">
                        {% if evento.confirmado == True %}
                            <span class="bagde bg-success">Sim</span>
                        {% else %}
                            <span class="badge bg-danger">Não</span>
                        {% endif %}

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Observações:</strong></div>
                    <div class="col-sm-9">{{ evento.observacoes|default:"Sem Informações"}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Descrição:</strong></div>
                    <div class="col-sm-9">{{ evento.descricao|default:"Sem Informações"}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data de criação:</strong></div>
                    <div class="col-sm-9">{{ evento.data_criacao|default:"Sem Informações"}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Pessoas envolvidas:</strong></div>
                    {% for p in evento.pessoas_envolvidas.all %}
                        <div class="col-sm-9">{{ p.nome_completo}}</div>{% if not frorloop.last %},{% endif %}
                    
                    {%empty%}
                        <span>Nenhuma pessoa identificada</span>
                    {% endfor %}
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Criado por:</strong></div>
                    <div class="col-sm-9">{{ evento.criado_por.get_full_name}}</div>
                </div>
                
            </div>
        </div>
    </div>
   
</div>
{% endblock %}

