{% extends 'principal.html' %}


{% block content %}

<div class="column" style="display: flex; gap: 10px; padding: 20px; width: 100%;
     justify-content: center;">
    <div class="col-md-8" style="width: 100%;">
        <div class="card" style="width: 97%;">
            <div class="d-flex justify-content-between card-header bg-primary text-white" >
                <h5 class="mb-0">
                    <i class="fas fa-user"></i> Informações do tipo de crime</h5>
                <a href="/list_type_crime/" class="btn" 
                style="background: #1e3a5f; color: #fff;">
                    lista
                </a>
            </div>

     

            <div class="card-body">

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Tipo de crime:</strong></div>
                    <div class="col-sm-9">{{ tipo_crime.nome}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Tipo de grvidade:</strong></div>
                    <div class="col-sm-9">{{ tipo_crime.get_gravidade_display }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Descrição:</strong></div>
                    <div class="col-sm-9">{{ tipo_crime.descricao }}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Está activo? :</strong></div>
                    {% if tipo_crime.ativo == True %}
                        <div class="col-sm-9 badge bg-success w-25">SIM</div>
                    {% else %}
                        <div class="col-sm-9 badge bg-danger w-25">NÃO</div>
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
   
</div>
{% endblock %}

