{% extends 'principal.html' %}



{% block content %}
<style>
    table{
        width: 99%;
    }
    th{
        padding: 4px;
    }
    td{
        padding: 4px;
    }
</style>
<div class="column" style="display: flex; gap: 10px; padding: 20px; width: 100%; height: 100%;
     justify-content: center;">
    <div class="col-md-8" style="width: 100%;">
        <div class="card" style="width: 97%;">
            <div class="d-flex justify-content-between card-header bg-primary text-white" >
                <h5 class="mb-0">
                    <i class="fas fa-user"></i> Informações do caso nº {{caso.numero_caso}}
                </h5>
                <a href="/list_case/" class="btn" 
                style="background: #1e3a5f; color: #fff;">
                    lista
                </a>
            </div>

            <div class="bg-warning" style="display: flex; width: 100%; align-items: center; 
             padding: 10px; justify-content: center; gap:30px; ">

                
                {% include "pessoas_envolvida/views_individual_involved.html" with envolvimentos=envolvimentos caso=caso tamanho_caso=tamanho_caso %}
                {% include "evidencia/views_evidence.html" with evidencia_obj=evidencia_obj caso=caso  tamanho_evidencia=tamanho_evidencia%} 

                
            </div>


            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Título:</strong></div>
                    <div class="col-sm-9">{{ caso.titulo|default:"Não informado" }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Nº de caso:</strong></div>
                    <div class="col-sm-9">{{ caso.numero_caso }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Tipo de crime:</strong></div>
                    <div class="col-sm-9">{{ caso.tipo_crime }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Número de processo:</strong></div>
                    <div class="col-sm-9">{{ caso.numero_processo|default:"sem informações" }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Status:</strong></div>
                    <div class="col-sm-9">{{ caso.get_status_display }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Prioridade:</strong></div>
                    <div class="col-sm-9">{{ caso.get_prioridade_display }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data de ocorrência:</strong></div>
                    <div class="col-sm-9">{{ caso.data_ocorrencia }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data de abertura:</strong></div>
                    <div class="col-sm-9">{{ caso.data_abertura|default:"não marcada" }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data de conclusão:</strong></div>
                    <div class="col-sm-9">{{ caso.data_conclusao|default:'não marcada' }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Data de conclusão:</strong></div>
                    <div class="col-sm-9">{{ caso.prazo_conclusao|default:'não marcada' }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Local de ocorrência:</strong></div>
                    <div class="col-sm-9">{{ caso.local_ocorrencia }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Comando:</strong></div>
                    <div class="col-sm-9">{{ caso.delegacia_origem }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Investigador principal:</strong></div>
                    <div class="col-sm-9">{{ caso.investigador_principal.get_full_name }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Delegado responsável:</strong></div>
                    <div class="col-sm-9">{{ caso.delegado_responsavel.get_full_name }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Investigador de apoio:</strong></div>
                    <div class="col-sm-9">{{ caso.investigadores_apoio.get_full_name|default:"sem informações" }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Observação:</strong></div>
                    <div class="col-sm-9">{{ caso.observacoes|default:"sem informações" }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Obs. interna:</strong></div>
                    <div class="col-sm-9">{{ caso.observacoes_internas|default:"sem informações" }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Confidencial:</strong></div>
                    <div class="col-sm-9">
                        {% if caso.confidencial == True %}
                            <span class="badge bg-warning">Sim</span>

                        {% else %}
                            <span class="badge bg-info">Não </span>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Estado:</strong></div>
                    <div class="col-sm-9">
                        {% if caso.ativo == True %}
                            <span class="badge bg-success">Ativo</span>
                        {% else %}
                            <span class="badge bg-danger">Inativo</span>
                        {% endif %}
                    </div>
                </div>
            
                <div class="row mb-3">
                    <div class="col-sm-3"><strong>Criado por:</strong></div>
                    <div class="col-sm-9">{{caso.criado_por.get_full_name}} </div>
                </div>
                <hr style="width: 100%;">

                <h2>Evento timeline do caso nº {{ caso.numero_caso }} — {{ caso.titulo }}</h2>

                    <table border="1">
                    <thead >
                        <tr>
                        <th>Tipo de Evento</th>
                        <th>Data</th>
                        <th>Investigador</th>
                        <th>Evidências</th>
                        <th>Envolvidos</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evento in eventos_caso %}
                            <tr>
                                <td>{{ evento.get_tipo_evento_display }}</td>
                                <td>{{ evento.data_hora|date:"d/m/Y" }}</td>
                                <td>{{ evento.investigador_responsavel.get_full_name|default:"—" }}</td>
                                <td>
                                {% for evidencia in evento.evidencias_relacionadas.all %}
                                    {{ evidencia.tipo.nome }}-{{evidencia.numero_evidencia}}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    —
                                {% endfor %}
                                </td>
                                <td>
                                {% for pessoa in evento.pessoas_envolvidas.all %}
                                    {{ pessoa.nome_completo }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                    —
                                {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}    
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    
   
</div>
{% endblock %}

