{% extends "principal.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a{
            text-decoration: none;
            borderra
        }
    </style>
</head>
<body>
  
    <div style="display: flex; width: 100%; align-items: center; justify-content: center; flex-direction: column;">
        <div style="display: flex; width: 97%; justify-content: space-between; align-items: center;">
            <h1 style="margin-left: 20px;" class="text-warning">Lista de casos</h1>
        
            <a href="/create_case/" class="btn btn-success" style="display:flex; height: 40px; gap: 10px;">
                <i class="bi bi-plus-circle" aria-hidden="true"></i></i>Novo
            </a>
            
        </div>

        <div style="display: flex; width: 97%; justify-content: space-between; align-items: center; margin-bottom: 6px;">
        
            <form action="/list_case/" method="get"  style="width: 30%;"
             class="btn-group btn-group-sm">
               
                <input type="search" name="search" style="border-radius: 4px 0px 0px 4px; "
                class="form-control" placeholder="Número de caso ou Título ou Descrição">
                <button class="btn btn-warning"><i class="bi bi-search"></i></button>
            </form>

            <form action="/list_case/" method="get" 
             class="btn-group btn-group-sm">
               
                <select type="search" name="filter1" style="border-radius: 4px 0px 0px 4px;"
                    class="form-control" placeholder="Prioridade ou Estado"
                >
                    <option value="">Selecione opção</option>
                    <option value="aberto">Aberto</option>
                    <option value="em_andamento">Em Andamento</option>
                    <option value="suspenso">Suspenso</option>
                    <option value="concluido">Concluído</option>
                    <option value="arquivado">Arquivado</option>
                    <option value="">______Dados do Estado____</option>
                    <option value="1">Baixa</option>
                    <option value="2">Normal</option>
                    <option value="3">Alta</option>
                    <option value="4">Urgente</option>
                    <option value="5">Crítica</option>

                </select>
                <button class="btn btn-warning"><i class="bi bi-search"></i></button>
            </form>

            <form action="/list_case/" method="get" 
             class="btn-group btn-group-sm">
                
                <input type="search" name="filter2" style="border-radius: 4px 0px 0px 4px;"
                class="form-control" placeholder="B.I do Investigador">
                <button class="btn btn-warning"><i class="bi bi-search"></i></button>
            </form>
            
        </div>

        <div class="card" style="display:flex; width: 97%; align-self: center;">

            <form method="get" class="form-inline mb-3" style="padding: 12px; height: 7px;">
                <input style='border: 1px solid orange; width: 70px;'
                    type="number" 
                    id="per_page" 
                    name="per_page" 
                    class="form-control form-control-sm" 
                    min="1" 
                    max="200" 
                    value="{{ per_page|default:20 }}" 
                    onchange="this.form.submit()"
                    
                >
            </form>

            <div class="card-body" style="border-radius: 4px;">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th>
                                    ID 
                                    <a 
                                    href="?order_by=numero_caso{% if filter1 %}&filter1={{ filter1 }}{% endif %}{% if filter2 %}&filter2={{ filter2 }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                                    >
                                        <i class="bi bi-arrow-down-up"></i>
                                    </a>
                                    <a href="/list_case/"> <i class="bi bi-eraser" style="font-size: 1.1rem; margin-left: 5px;"></i></a>
                                </th>
                                <th>
                                    Título 
                                    <a href="?order_by=titulo{% if filter1 %}&filter1={{ filter1 }}{% endif %}{% if filter2 %}&filter2={{ filter2 }}{% endif %}{% if search %}&search={{ search }}{% endif %}"
                                    >
                                        <i class="bi bi-arrow-down-up"></i>
                                    </a>
                                    <a href="/list_case/"> <i class="bi bi-eraser" style="font-size: 1.1rem; margin-left: 5px;"></i></a>
                                </th>
                                <th>Prioridade</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                                <th>Vínculos</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for caso in casos %}
                            <tr>
                                <td>{{ caso.numero_caso }}</td>
                                <td>
                                    <strong>{{ caso.titulo}}</strong>
                                </td>
                                <td>
                                    {% if caso.prioridade == 1%}
                                        <span class="badge bg-primary">{{ caso.get_prioridade_display }}</span>
                                    {% elif caso.prioridade == 2 %}
                                        <span class="badge bg-info">{{ caso.get_prioridade_display }}</span>
                                    {% elif caso.prioridade == 3 %}
                                        <span class="badge bg-warning" >{{ caso.get_prioridade_display }}</span>
                                    {% elif caso.prioridade == 4 %}
                                        <span class="badge" style="background-color: orange;">{{ caso.get_prioridade_display }}</span>
                                    {% elif caso.prioridade == 5 %}
                                        <span class="badge bg-danger" >{{ caso.get_prioridade_display }}</span>
                                    {% endif %}
                                </td>
                                <td>{{ caso.tipo_crime.nome }}</td>
                              
                                <td>{{caso.get_status_display}}</td>
                                <td>
                                    <div class="btn-group btn-group-sm" >
                                    <a href="{% url 'create_individual_involved' caso.id%}" 
                                    title='Pessoas Envolvidas' class="btn btn-outline-success" >
                                        <i class="bi bi-person-plus"></i>
                                        
                                    </a>
                                    <a href="{% url 'create_event' caso.id%}" 
                                     title="Eventos" class="btn btn-outline-success" >
                                        <i class="bi bi-clock-history"></i>
                                    </a>
                                    <a href="{% url 'create_evidence' caso.id%}" 
                                     title="Evidência" class="btn btn-outline-success" >
                                        <i class="bi bi-archive"></i>
                                    </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group btn-group-sm">
                                        <a href="{% url 'detail_case' caso.id %}" 
                                            class="btn btn-outline-primary" title="Ver detalhes">
                                            <i class="bi bi-eye"></i>
                                        </a>
                                        
                                        <a href="{% url 'edit_case' caso.id %}" 
                                            class="btn btn-outline-warning" title="Editar">
                                            <i class="fas bi-pencil-square"></i>
                                        </a>
                                        
                                        <button onclick="confirmardelecao('{{caso.id}}')"
                                        class="btn btn-outline-danger" title="Deletar">
                                            <i class="bi bi-trash"></i>
                                            
                                        </button>
                                        
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center text-muted py-4">
                                    <i class="fas fa-inbox fa-2x mb-2"></i>
                                    <br>Nenhum registso encontrado.
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p style="color: red;">As opções que estão no Vínculos: 1º é para vincular pessa ao caso, 2º para o evento e o 3º é para Evidência</p>

                </div>

                {% if casos.has_other_pages %}
                    <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                        {% if casos.has_previous %}
                            <li class="page-item">
                                
                                <a class="page-link" href="?page={{ casos.previous_page_number }}&per_page={{per_page}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Anterior</span>
                                </a>
                            </li>
                        {% endif %}

                        {% for num in casos.paginator.page_range %}
                            {% if casos.number == num %}
                                <li class="page-item active">
                                    <span class="page-link">{{ num }}</span>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ num }}&per_page={{per_page}}">{{ num }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    {% if casos.has_next %}
                        
                        <li class="page-item">
                            <a class="page-link" href="?page={{ casos.next_page_number }}&per_page={{per_page}}" aria-label="Próximo">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Próximo</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="modalconfirmacao" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 1000;">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; border-radius: 8px; min-width: 300px;">
            <h3>confirmar exclusão</h3>
            <p id="mensagemconfirmacao">Tem certeza que deseja deletar este caso?</p>

            <input type="password" class="form-control" autocomplete="new-password"
                id="password" placeholder="Confirme sua senha" name="password" required>
                
            <div id="sms" style="color: red;"></div>

            <div style="text-align: right; margin-top: 20px;">
                <button onclick="fecharmodal()" class="btn" style="background: #6c757d; color: white; margin-right: 10px;">
                    Sair
                </button>
                <button onclick="deletarItem()" class="btn btn-danger">
                    Confirmar
                </button>
            </div>
        </div>
    </div>

    <script>
        let itemparadeletar = null;
        
        function confirmardelecao(itemid) {
            itemparadeletar = itemid;
            document.getElementById('modalconfirmacao').style.display = 'block';
        }
        
        function fecharmodal() {
            document.getElementById('modalconfirmacao').style.display = 'none';
            itemparadeletar = null;
            location.reload()
        }
        
        async function deletarItem() {
            const passwordInput = document.getElementById('password');
            const sms = document.getElementById('sms');

            if (!passwordInput || passwordInput.value.trim() === '') {
            alert('O campo senha é obrigatório!');
            return;
            }

            const password = passwordInput.value;

            try {
            const response = await fetch(`/delete_case/${itemparadeletar}/`, {
                method: 'POST',
                headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                password: password
                })
            });

            if (response.ok) {
                sms.innerText = "Caso deletado com sucesso!";
                sms.style.color = "green";
                
            } else {
                const data = await response.json();
                sms.innerText = data.error || "Erro ao deletar o item!";
                sms.style.color = "red";
            }

            } catch (error) {
            console.error(error);
            sms.innerText = "Erro de conexão com o servidor.";
            sms.style.color = "red";
            }
        }
        
        document.getElementById('modalconfirmacao').onclick = (e)=>{
            if (e.target === this) {
                fecharmodal();
            }
        }
    </script>
</body>
</html>
{% endblock  %}